/* Test of link */
.hello {
    color:red;
}
/* Styling for Index File*/
.bg-light {
    background-image: url(/images/navbarbackground2.png)
}

.body {
    background-image:url(/images/beige.jpg)
} 

#mainJumbo {
  
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

#mainJumbo2 {
    background-image:url(/images/beige2.jpg);
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

#card1 {
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

#card2 {
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

#card3 {
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

#mainButton1 {
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

/*Styling for History Page*/

#videoHistory {
    height: 50vh;
    padding: 50px 50px 50px 50px;
}

#bodyHistory {
    
    background-color: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
}

.card {
    background: linear-gradient(rgb(233, 216, 183), rgb(112, 84, 61));
    color:black
}
.card-header {
    color:black !important
}

/* Hotels styling */
.carousel slide 